.word-answer-screen {
    text-align: center;
}

.word-feedback-card {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
}

.next-word-button {
    display: block;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(80, 118, 223);
}