.login-logout-header {
    font-size: 24px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.site-title-header {
    font-size: 36px;
    margin-top: 0px;
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    background-color: #4baea0;
    background-image: 
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.7)
        ), 
        url("https://assets.nst.com.my/images/articles/13ntforeignlanguage2_1518503581.jpg");
    padding: 10px;
}
